*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}
body {
  background-color: rgb(1, 22, 39);
  min-height: 100vh;
  font-family: "Neufile Grotesk Regular", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  color: white;
}
